/* *{
    color: brown;
    background-color: yellow;
} */


/* p {
    color: rgba(13, 6, 214, 0.934);
    background-color: rgb(121, 121, 3);
} */


/* .cls1{
    color: green;
}

#xyz{
    background-color: aqua;
}
#q1{
    background-color: yellow;
}

.cls2{
    background-color: aqua;
}

.z1{
    color: grey;
} */



/* h1, span, #a1, .cls3{
    background-color: blue;
} */
/* 
div p{
    color: blue;
} */

/* div p{
    color: blue;
} */

/* span{
     font-family: "Cedarville Cursive", cursive;
     font-size: 100%;
     font-weight: bold;
     color: rgb(0, 0, 7);
     background-color: rgba(0, 0, 255, 0.9);
    }

img{
    opacity: 0.3;
}     */

/* div{
    height: 350px;
    background:linear-gradient(to right, red, yellow)
    background: radial-gradient(circle, white, blue, purple);
} */

div{
    /* background: url('https://cdn.pixabay.com/photo/2021/12/12/20/00/play-6865967_640.jpg'); */
    background: red;
    height: 400px;
    background-repeat: no-repeat;
}