/* *{
    color: brown;
    background-color: yellow;
} */


/* p {
    color: rgba(13, 6, 214, 0.934);
    background-color: rgb(121, 121, 3);
} */


/* .cls1{
    color: green;
}

#xyz{
    background-color: aqua;
}
#q1{
    background-color: yellow;
}

.cls2{
    background-color: aqua;
}

.z1{
    color: grey;
} */



/* h1, span, #a1, .cls3{
    background-color: blue;
} */
/* 
div p{
    color: blue;
} */

div p{
    color: blue;
}